<div class="row container w-100 d-flex justify-content-center align-items-center  ">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            <br>
            <hr>
            <h4 class="alert-heading"><%= err.message %></h4>
            <h3><%= err.name %></h3>
            <p><%= err.stack %></p>
            <hr>
        </div>
    </div>
</div>