<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing Page | Placement Cell</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/homepagestyles.css">

    </head>

    <body>
        <div class="main">
            <nav class="nav">
                <div class="nav-one"><img src="/Images/Gcoej_logo.png" alt="gcoej logo"></div>
                <div class="nav-two">
                    <span id="placementcell">Placement Cell<i class="ri-arrow-down-s-line"></i></span>
                    <div class="links hidden" id="pc">
                        <a href="">about us</a>
                        <a href="">contact us</a>
                    </div>
                    <span id="forstudents">For Students<i class="ri-arrow-down-s-line"></i></span>
                    <div class="links hidden" id="fs">
                        <a href="/login">Student login</a>
                        <a href="">F.A.Q</a>
                        <a href="">Alumini</a>
                    </div>
                    <span id="forrecruiters">For Recruiters<i class="ri-arrow-down-s-line"></i></span>
                    <div class="links hidden" id="fr">
                        <a href="">Recruiters Login</a>
                        <a href="">Past Recruiters</a>
                        <a href="">Recruiters Procedure</a>
                    </div>
                </div>
                <div class="nav-three"><img src="/Images/TPO.png" alt="right_logo"></div>
            </nav>
            <div class="page1">
                <div class="left">
                    <h1>Launch Your Career with <span>Confidence</span></h1>
                    <h3>From classrooms to careers, let us guide you towards your dream placement.</h3>
                    <a id="button">Explore<i class="ri-graduation-cap-fill"></i></a>
                </div>
                <div class="right">
                    <img src="/Images/building.avif" id='image' alt="">
                </div>
            </div>
            <div class="page2">
                <div class="page2-left">
                    <span>WHO WE ARE</span>
                    <h3>T&P cell</h3>
                    <p> The overall role of the Training &amp; Placement cell is of a facilitator and counselor for
                        placement related activities. The placement cell is to act as contract place and facilitator to
                        arrange campus visits and conduct of recruitment process of the perspective employers for the
                        purposeful placement of students of the college.
                        The objective of the GCOEJ Training &amp; Placement Cell is to place all eligible students in
                        reputed IT and core manufacturing, infrastructure companies right at the campus itself. To
                        achieve this objective the cell liaises with the various industrial establishments, corporate
                        houses which conduct campus interviews and select students from all disciplines. The Training
                        &amp; Placement office provides the infra-structural facilities to conduct group discussions,
                        tests and interviews besides catering to other logistics.
                    </p>
                </div>
                <div class="page2-right">
                    <img src="/Images/staff.jpeg" alt="">
                </div>
            </div>
            <div class="page3">
                <div class="logos">
                    <div class="logos-slide">
                        <img src="/Images/logos/Accenture_logo.svg.png" alt="">
                        <img src="/Images/logos/Adani_logo_2012.svg.png" alt="">
                        <img src="/Images/logos/Capgemini_201x_logo.svg.png" alt="">
                        <img src="/Images/logos/Cognizant_logo_2022.svg.png" alt="">
                        <img src="/Images/logos/download (1).png" alt="">
                        <img src="/Images/logos/download (2).png" alt="">
                        <img src="/Images/logos/download.png" alt="">
                        <img src="/Images/logos/Infosys_logo.svg.png" alt="">
                        <img src="/Images/logos/png-transparent-larsen-toubro-company-logo-computer-numerical-control-l-t-ecc-infra-others-miscellaneous-blue-company-thumbnail.png"
                            alt="">
                        <img src="/Images/logos/Accenture_logo.svg.png" alt="">
                        <img src="/Images/logos/Adani_logo_2012.svg.png" alt="">
                        <img src="/Images/logos/Capgemini_201x_logo.svg.png" alt="">
                        <img src="/Images/logos/Cognizant_logo_2022.svg.png" alt="">
                        <img src="/Images/logos/download (1).png" alt="">
                        <img src="/Images/logos/download (2).png" alt="">
                        <img src="/Images/logos/download.png" alt="">
                        <img src="/Images/logos/Infosys_logo.svg.png" alt="">
                        <img src="/Images/logos/png-transparent-larsen-toubro-company-logo-computer-numerical-control-l-t-ecc-infra-others-miscellaneous-blue-company-thumbnail.png"
                            alt="">
                    </div>
                </div>

                <div class="headings">
                    <span>GCOEJ</span>
                    <h1>GCOEJ Gives you an edge over the rest</h1>
                </div>
                <div class="cards-container">
                    <div class="card" id="one">
                        <img src="/Images/one.avif" alt="">
                    </div>
                    <div class="card" id="two">
                        <img src="/Images/two.avif" alt="">
                    </div>
                    <div class="card" id="three"><img src="/Images/three.avif" alt=""></div>
                    <div class="card" id="four"><img src="/Images/four.avif" alt=""></div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"
            integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/ScrollTrigger.min.js"
            integrity="sha512-LQQDtPAueBcmGXKdOBcMkrhrtqM7xR2bVrnMtYZ8ImAZhFlIb5xrMqQ6uZviyeSB+4mYj89ta8niiCIQM1Gj0w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/JS/homepagescript.js"></script>
    </body>

</html>