<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/about.css">
    </head>

    <body>
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>Some text about who we are and what we do.</p>
            <p>Resize the browser window to see that this page is responsive by the way.</p>
        </div>

        <h2 id="h2" style="text-align:center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                    <div class="container">
                        <h2>Yash Petkar</h2>
                        <p class="title">Team leader</p>
                        <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                        <p>"Managing orchestrates team, assigning responsiblity"</p>
                        <div class="contact">
                            <a href="#">
                                <i class="ri-linkedin-box-fill" style="color: #0A66C2;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-github-fill" style="color: #211F1F;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-mail-line" style=" background: linear-gradient(to right, blue,red,green);
                             -webkit-background-clip: text;
                             background-clip: text;
                                color: transparent;">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
                    <div class="container">
                        <h2>Yash Raut</h2>
                        <p class="title">Back-End</p>
                        <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                        <p>"Architecting robust backend systems for innovative projects"</p>
                        <div class="contact">
                            <a href="#">
                                <i class="ri-linkedin-box-fill" style="color: #0A66C2;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-github-fill" style="color: #211F1F;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-mail-line" style=" background: linear-gradient(to right, blue,red,green);
                             -webkit-background-clip: text;
                             background-clip: text;
                                color: transparent;">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
                    <div class="container">
                        <h2>Varad Patil</h2>
                        <p class="title">Front-End</p>
                        <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                        <p>"Creative experiences with innovative frontend design"</p>
                        <div class="contact">
                            <a href="#">
                                <i class="ri-linkedin-box-fill" style="color: #0A66C2;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-github-fill" style="color: #211F1F;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-mail-line" style=" background: linear-gradient(to right, blue,red,green);
                             -webkit-background-clip: text;
                             background-clip: text;
                                color: transparent;">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/w3images/team3.jpg" alt="John" style="width:100%">
                    <div class="container">
                        <h2>Pruthviraj Patil</h2>
                        <p class="title">DataBase</p>
                        <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                        <p>"Ensuring Seamless Data Management"</p>
                        <div class="contact">
                            <a href="#">
                                <i class="ri-linkedin-box-fill" style="color: #0A66C2;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-github-fill" style="color: #211F1F;"></i>
                            </a>
                            <a href="#">
                                <i class="ri-mail-line" style=" background: linear-gradient(to right, blue,red,green);
                             -webkit-background-clip: text;
                             background-clip: text;
                                color: transparent;">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>