<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Applied Drives</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .box {
                min-height: 85vh;
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
        <div class="container  p-2 bg-body-secondary box mt-lg-2">
            <h1 class="mb-4">My Applied Drives</h1>
            <div class="cards p-3 d-flex justify-content-start gap-3 flex-wrap  align-items-center ">
                <% if(drives.length < 1){ %>

                <div class=" container d-flex justify-content-center align-items-center ">
                    you have not yet applied, <a href="/drive/all" class="btn btn-sm btn-primary">apply here</a>
                </div>
                <% } else {%>
                <% for(drive of drives){ %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= drive.drive_id.companyName %></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Next Round :
                                <%= drive.drive_id.selectionProcess[ drive.stage - 1 ] %> </li>
                        </ul>
                        <div class="card-footer">
                            <% if (drive.status === 'pending') { %>
                            <a href="#" class="btn btn-sm btn-secondary pending">Pending</a>
                            <% } else if(drive.status === 'accepted'){%>
                            <a href="#" class="btn btn-sm btn-success accepted">Accepted</a>
                            <% }else if(drive.status === 'rejected'){ %>
                            <a href="#" class="btn btn-sm btn-danger rejected">Rejected</a>
                            <% } %>

                            <a href="#" class="btn btn-info">Track</a>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>