<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Student Registraion form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body class="p-5 d-flex justify-content-center align-items-center bg-body-secondary   ">

        <main class=" container w-75 ">
            <%- include('../partials/flashPartials.ejs') %>
            <form method="post" action="/student/register" class="container needs-validation" id="multiStepForm"
                enctype="multipart/form-data" novalidate>
                <!-- Step 1 -->
                <div id="step1">
                    <div class="form-group">
                        <h2><b>Personal Information</b></h2>
                        <div class="form-group mb-2">
                            <div class="row">
                                <div class="col">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" id="fullName" name="personalDetails[fullName]"
                                        class="form-control" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="prn" class="form-label">PRN</label>
                                    <input type="text" id="prn" name="personalDetails[PRN]" class="form-control"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col"><label for="branch" class="form-label">Branch</label>
                                <select id="branch" name="personalDetails[branch]" class="form-control" required>
                                    <option value="nil">Choose an option</option>
                                    <option value="Computer Engineering">Computer Engineering</option>
                                    <option value="Electrical Engineering">Electrical Engineering</option>
                                    <option value="Civil Engineering">Civil Engineering</option>
                                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                                    <option value="Instrumentation Engineering">Instrumentation Engineering</option>
                                    <option value="Electronics & Telecommunication Engineering">Electronics &
                                        Telecommunication
                                        Engineering
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="class" class="form-label">Year</label>
                                <select id="class" name="personalDetails[year]" class="form-control" required>
                                    <option value="fy">__Select Year__</option>
                                    <option value="F.Y">F.Y</option>
                                    <option value="S.Y">S.Y</option>
                                    <option value="T.Y">T.Y</option>
                                    <option value="L.Y">L.Y</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <label for="graduatingYear" class="form-label">Graduating Year</label>
                                <input type="text" id="graduatingYear" name="personalDetails[graduatingYear]"
                                    class="form-control" required>
                            </div>
                            <div class="col">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" name="personalDetails[email]" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col-8"><label for="address" class="form-label">Address</label>
                                <input type="text" id="address" name="personalDetails[address]" class="form-control"
                                    required>
                            </div>
                            <div class="col-4">
                                <label for="contact" class="form-label">Contact</label>
                                <input type="text" id="contact" name="personalDetails[contact]" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <label for="placementStatus" class="form-label">Placement Status</label>
                                <div class="row">
                                    <div class="form-check col-auto">
                                        <input class="form-check-input" type="radio"
                                            name="personalDetails[placementStatus]" id="seekingStatus" value="seeking"
                                            required>
                                        <label class="form-check-label" for="seekingStatus">Seeking</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="form-check-input" type="radio"
                                            name="personalDetails[placementStatus]" id="notSeekingStatus"
                                            value="notSeeking" required>
                                        <label class="form-check-label" for="notSeekingStatus">Not Seeking</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="profilePhoto" class="form-label">Profile Photo</label>
                                <input type="file" class="form-control" id="profilePhoto" name="image">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="skills" class="form-label">Skills</label>
                        <input type="text" id="skills" name="personalDetails[skills][]" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="language" class="form-label">Language</label>
                        <input type="text" id="language" name="personalDetails[languages][]" class="form-control"
                            required>
                    </div>
                    <div class="button-container mt-3">
                        <button type="button" class="btn btn-primary" onclick="nextStep('step1')">Next</button>
                    </div>
                </div>
                <!-- Step-2 -->
                <div id="step2" style="display: none;">
                    <h2><b>Education Information</b></h2>

                    <div class="form-group  mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="entryStatus" class="form-label">Entry Status</label>
                                    <select id="entryStatus" name="entryStatus" class="form-control" required
                                        onchange="toggleFields()">
                                        <option value="">Choose an option</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Lateral">Lateral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label for="tenth" class="form-label">10th Percentage</label>
                                <input type="text" id="tenth" name="education[tenth]" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  mb-2" id="twelfthPercentageField" style="display: none;">
                        <label for="twelfth" class="form-label">12th Percentage</label>
                        <input type="text" id="twelfth" name="education[twelfth]" class="form-control">
                    </div>
                    <div class="form-group  mb-2" id="diplomaCGPAField" style="display: none;">
                        <label for="diplomaCGPA" class="form-label">Diploma CGPA</label>
                        <input type="text" id="diplomaCGPA" name="education[diploma][diplomaCGPA]" class="form-control">
                    </div>

                    <div class="form-group  mb-2">
                        <label for="latestCGPA" class="form-label">Latest CGPA </label>
                        <input type="text" id="latestCGPA" name="education[latestCGPA]" class="form-control" required>
                    </div>
                    <div class="form-group  mb-2">
                        <label for="liveBacklog" class="form-label">Live Backlog</label>
                        <input type="number" id="liveBacklog" name="education[liveBacklog]" class="form-control"
                            required>
                    </div>
                    <div class="form-group  mb-2">
                        <label for="deadBacklog" class="form-label">Dead Backlog</label>
                        <input type="number" id="deadBacklog" name="education[deadBacklog]" class="form-control"
                            required>
                    </div>
                    <div class="form-group  mb-2">
                        <label for="gapYear" class="form-check-label">Gap Year</label>
                        <input type="text" id="gapYear" name="education[gapYear]" class="form-control">
                    </div>

                    <div class="button-container mt-2">
                        <button type="button" class="btn btn-primary" onclick="prevStep('step2')">Previous</button>
                        <button type="button" class="btn btn-primary" onclick="nextStep('step2')">Next</button>

                    </div>
                </div>
                <!-- Step-3  -->
                <div id="step3" class="container" style="display: none;">
                    <h2><b>Experience Details</b></h2>
                    <div class="container">
                        <div id="experienceContainer">
                            <!-- added Dynamically -->
                        </div>
                        <div class="button-container mb-2">
                            <button id="addExperience" type="button" class="btn btn-primary">Add Experience</button>
                        </div>
                    </div>
                    <div class="container">
                        <button type="button" class="btn btn-primary" onclick="prevStep('step3')">Previous</button>
                        <button type="button" class="btn btn-primary" onclick="nextStep('step3')">Next</button>
                    </div>
                </div>
                <!-- Step-4  -->
                <div id="step4" class="container" style="display: none;">
                    <h2><b>Projects</b></h2>
                    <div id="projectContainer">
                    </div>
                    <div class="button-container mb-2">
                        <button id="addProject" type="button" class="btn btn-primary">Add Project</button>
                    </div>
                    <div class="button-container">
                        <button type="button" class="btn btn-primary" onclick="prevStep('step4')">Previous</button>
                        <button type="button" class="btn btn-primary" onclick="nextStep('step4')">Next</button>
                    </div>
                </div>
                <!-- Step 5 -->
                <div id="step5" style="display: none;">
                    <div class="form-group">
                        <h2><b>Online Profiles</b></h2>
                        <!-- <div class="form-group mb-3">
                            <label for="resume" class="form-label">Resume</label>
                            <input type="file" name="onlineProfiles[resume]" class="form-control">
                        </div> -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-dark-subtle">
                                <i class="fa-brands fa-linkedin fa-2xl" style="color: #144366;"></i>
                            </span>
                            <input type="url" name="onlineProfiles[linkedIn]" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-dark-subtle">
                                <i class="fa-brands fa-square-github fa-2xl" style="color: #0f0f0f;"></i>
                            </span>
                            <input type="url" name="onlineProfiles[gitHub]" class="form-control">
                        </div>
                        <div class="input-group mb-3  ">
                            <span class="input-group-text bg-dark-subtle">
                                <i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #050505;"></i>
                            </span>
                            <input type="url" name="onlineProfiles[twitter]" class="form-control">
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn btn-primary" onclick="prevStep('step5')">Previous</button>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Step 6  -->
                <!-- <div id="step6" style="display: none;">
                    <div class="form-group">
                        <h2><b>Certifications & Images</b></h2>
                        <p class="fomr-text">Only upload Valid Certifications</p>
                        <div id="certificatesContainer">
                           
                        </div>
                        <div class="button-container">
                            <button id="addCertificate" type="button" class="btn btn-primary">Add Certificate</button>
                        </div>
                        <div class="button-container mt-3">
                            <button type="button" class="btn btn-primary" onclick="prevStep('step6')">Previous</button>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div> -->



            </form>

        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/multipleJobSelect.js"></script>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                            alert('please check all the fields before submitting');
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
            function nextStep(currentStepId) {
                var currentStep = document.getElementById(currentStepId);
                var nextStep = document.getElementById('step' + (parseInt(currentStepId.slice(-1)) + 1));

                currentStep.style.display = 'none';
                nextStep.style.display = 'block';
            }

            function prevStep(currentStepId) {
                var currentStep = document.getElementById(currentStepId);
                var prevStep = document.getElementById('step' + (parseInt(currentStepId.slice(-1)) - 1));

                currentStep.style.display = 'none';
                prevStep.style.display = 'block';
            }
            // for student Registration
            function toggleFields() {
                var entryStatus = document.getElementById('entryStatus').value;
                var twelfthField = document.getElementById('twelfthPercentageField');
                var diplomaCGPAField = document.getElementById('diplomaCGPAField');

                if (entryStatus === 'Regular') {
                    twelfthField.style.display = 'block';
                    diplomaCGPAField.style.display = 'none';
                } else if (entryStatus === 'Lateral') {
                    twelfthField.style.display = 'none';
                    diplomaCGPAField.style.display = 'block';
                } else {
                    twelfthField.style.display = 'none';
                    diplomaCGPAField.style.display = 'none';
                }
            }
        </script>
    </body>

</html>