<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/CSS/showDrive.css">

<div class="container">
    <div class="job-description-container">
        <div class="apply-button">Apply</div>

        <h1>Job Description</h1>
        <hr>

        <div class="row">
            <div class="col-md-8">
                <h2>Job Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id enim sit amet quam semper
                    faucibus. Donec nec enim et sem semper semper ac et eros. Nullam eu quam a nisl semper semper. Sed
                    ullamcorper enim a nibh semper, a semper quam ultrices. Mauris et augue id libero semper tincidunt.
                </p>

                <h2>Responsibilities</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nullam id enim sit amet quam semper faucibus.</li>
                    <li>Donec nec enim et sem semper semper ac et eros.</li>
                    <li>Nullam eu quam a nisl semper semper.</li>
                    <li>Sed ullamcorper enim a nibh semper, a semper quam ultrices.</li>
                    <li>Mauris et augue id libero semper tincidunt.</li>
                </ul>

                <h2>Qualifications</h2>
                <ul>
                    <li>Bachelor's degree in Computer Science or related field.</li>
                    <li>5+ years of experience in software development.</li>
                    <li>Experience with Java, Python, or C++.</li>
                    <li>Experience with relational databases (MySQL, PostgreSQL, etc.).</li>
                    <li>Experience with cloud computing platforms (AWS, Azure, etc.).</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Job Information</h2>
                <ul>
                    <li>Job Type: Full-time</li>
                    <li>Location: Pune, India</li>
                    <li>Salary: Competitive</li>
                </ul>
                <h2>Campus Drive Date</h2>
                <ul>
                    <li>Drive timing: 12:30</li>
                    <li>Drive Date: 7/12/2023</li>
                </ul>
                <h2>Selection Process</h2>
                <ul>
                    <p>
                        1. Aptitude Test.<br>
                        2. Technical Test.<br>
                        3. Group Discussion.<br>
                        4. HR Round.<br>
                        5. Interview.
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>